@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    @media (prefers-color-scheme: dark) {
        --fg: white;
        --bg: black;
        --hl: #2a82ea;
        --shadow: #6c6b6b;
        --dshadow: #1f1f1f;
    }
    @media (prefers-color-scheme: light) {
        --fg: black;
        --bg: white;
        --hl: #2063e0;
        --shadow: #a4a4a4;
        --dshadow: #d2d0d0;
    }
}

* {
    font-family: 'Chivo Mono', monospace;
    font-size: large;
    border-radius: 5px;
}

a {
    color: var(--hl);
}

.content {
    width:80%;
    margin:0 auto;
    padding: 150px 0px 5px 0px;
    display: block;
}

@media (max-width: 768px) {
    .content {
        width:90%;
        margin:0 auto;
        padding: 150px 5px 5px 5px;
        display: block;
    }
}
p {
    color: var(--fg);
    justify-self: left;
    padding: 5px 5px 5px 5px;
}

.snippet  {
    white-space: pre;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    overflow-x: auto;
    background-color: var(--dshadow);
    max-width: 100%;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
}

body {background-color: var(--bg)}